:root {
  --color-white: #fff;
  --color-purple-50: #d7e0ff;
  --color-purple-100: #eff1fa;
  --color-purple-600: #161932;
  --color-purple-700: #1E213F;
  --color: #f87070;
  --color-theme:#f87070;
  --color-purple: #d881f8;
  --color-light-blue: #70f3f8;
}